<dl class="instructions accordion" data-accordion> 
	<dd> 
		<a href="#panel1">Examples</a> 
		<div id="panel1" class="content active"> 
			For example: {{ examples }}
		</div>
	</dd>
	<dd>
		<a href="#panel2">Other Resources</a> 
		<div id="panel2" class="content"> 
			{{ otherResources }}
		</div> 
	</dd> 
</dl>

<div class="wizardForm">
</div>